*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $body-font-size;
}

body {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: $font-weight-normal;
  letter-spacing: 0.01rem;
  line-height: $lh-default;
}
