*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --color-primary-lighter: #{$blue-200};
  --color-primary-light: #{$blue-500};
  --color-primary: #{$blue-600};
  --color-primary-dark: #{$blue-700};
  --color-primary-darker: #{$blue-800};
  --bg-color: #{$gray-50};
  --text-color: #{$gray-900};
  --shadow-sm: #{$shadow-sm};
  --shadow: #{$shadow};
  --shadow-md: #{$shadow-md};
  --shadow-lg: #{$shadow-lg};
  --shadow-xl: #{$shadow-xl};
  --shadow-2xl: #{$shadow-2xl};
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  font-size: $text-base;
  font-weight: $font-normal;
  letter-spacing: 0.01rem;
  line-height: $lh-normal;
  background-color: var(--bg-color);
  color: var(--text-color);
}
