.btn,
button {
  appearance: none;
  background-color: $gray-100;
  border: 0;
  border-radius: $rounded-lg;
  color: $gray-900;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.625rem 1rem;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  transform: scale(1);
  transition: 100ms cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color, transform;
  white-space: nowrap;

  svg {
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
  }

  &:hover {
    background-color: $gray-200;
    outline: 0;
  }

  &:active,
  &.active {
    background-color: $blue-100;
    color: $blue-600;
    transform: scale(0.98);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $gray-100;
      outline: 0;
    }
  }

  &.btn-primary {
    background-color: $blue-600;
    color: $white;

    &:hover {
      background-color: $blue-700;
      outline: 0;
    }

    &:active,
    &.active {
      background-color: $blue-800;
      color: $white;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $blue-700;
        outline: 0;
      }
    }
  }

  &.btn-secondary {
    background-color: $gray-200;
    color: $gray-900;

    &:hover {
      background-color: $gray-300;
      outline: 0;
    }

    &:active,
    &.active {
      background-color: $gray-300;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $gray-100;
        outline: 0;
      }
    }
  }

  &.btn-warning {
    background-color: $yellow-400;
    color: $gray-900;

    &:hover {
      background-color: $yellow-500;
      outline: 0;
    }

    &:active,
    &.active {
      background-color: $yellow-600;
      color: $gray-900;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $yellow-400;
        outline: 0;
      }
    }
  }

  &.btn-danger {
    background-color: $red-500;
    color: $white;

    &:hover {
      background-color: $red-600;
      outline: 0;
    }

    &:active,
    &.active {
      background-color: $red-700;
      color: $white;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $red-500;
        outline: 0;
      }
    }
  }

  &.btn-icon {
    background-color: $gray-200;
    border-radius: 50%;
    color: $gray-900;
    padding: 0.6rem;

    svg {
      height: $size-3;
      margin-right: 0;
      width: $size-3;
    }

    &:hover {
      background-color: $gray-300;
      outline: 0;
    }

    &:active,
    &.active {
      background-color: $gray-300;
    }
  }

  // Full-width button
  //
  // These buttons expand to the full width of their parent container
  &.btn-block {
    display: block;
    text-align: center;
    width: 100%;
  }
}
