// Font stacks
$font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !default;

// Monospace font stack
$font-mono: "Roboto Mono", Consolas, "Liberation Mono", Menlo, monospace !default;

// Font sizes
$text-sm: 0.75rem !default;
$text-sm: 0.875rem !default;
$text-base: 1rem !default;
$text-lg: 1.125rem !default;
$text-xl: 1.25rem !default;
$text-xl: 1.5rem !default;

// Font weights
$font-bold: 600 !default;
$font-semibold: 500 !default;
$font-normal: 400 !default;
$font-light: 300 !default;

// Responsive breakpoints
$breakpoint-xs: 30rem !default; // 480px
$breakpoint-sm: 40rem !default; // 640px
$breakpoint-md: 48rem !default; // 768px
$breakpoint-lg: 64rem !default; // 1024px
$breakpoint-xl: 80rem !default; // 1280px
$breakpoint-2xl:  90rem !default; // 1440px

// Border radius
$rounded-none: 0 !default;
$rounded-sm: 0.125rem !default;
$rounded: 0.25rem !default;
$rounded-lg: 0.5rem !default;
$rounded-full: 9999px !default;


// Unit scale
$unit: 0.25rem !default;
$unit-none: 0 !default;
$unit-1: $unit !default; // 4px
$unit-2: $unit * 2 !default; // 8px
$unit-3: $unit * 3 !default; // 12px
$unit-4: $unit * 4 !default; // 16px
$unit-5: $unit * 5 !default; // 20px
$unit-6: $unit * 6 !default; // 24px
$unit-7: $unit * 7 !default; // 28px
$unit-8: $unit * 8 !default; // 32px
$unit-9: $unit * 9 !default; // 36px
$unit-10: $unit * 10 !default; // 40px
$unit-11: $unit * 11 !default; // 44px
$unit-12: $unit * 12 !default; // 48px
$unit-14: $unit * 14 !default; // 56px
$unit-16: $unit * 16 !default; // 64px
$unit-20: $unit * 20 !default; // 80px


// Line heights
$lh-none: 1 !default;
$lh-tight: 1.25 !default;
$lh-snug: 1.375 !default;
$lh-normal: 1.5 !default;
$lh-relaxed: 1.625 !default;
$lh-loose: 2 !default;


// Shadows
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$shadow-none: 0 0 #0000;
