// Font stacks
$body-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !default;

// Monospace font stack
$mono-font: "Roboto Mono", Consolas, "Liberation Mono", Menlo, monospace !default;

// Font sizes
$body-font-size: 16px !default;
$font-size: 0.8rem !default;
$font-size-sm: 0.7rem !default;
$font-size-lg: 0.9rem !default;

// Font weights
$text-bold: 600 !default;
$text-semibold: 500 !default;
$text-normal: 400 !default;
$text-light: 300 !default;

// responsive breakpoints
$breakpoint-xs: 480px !default;
$breakpoint-sm: 640px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xl: 1024px !default;
$breakpoint-2xl: 1440px !default;

// border radius
$rounded-none: 0 !default;
$rounded-sm: 0.125rem !default;
$rounded: 0.25rem !default;
$rounded-lg: 0.5rem !default;
$rounded-full: 9999px !default;


// spacing scale

$spacer: 0.25rem !default;
$spacer-none: 0 !default;
$spacer-1: $spacer * 2 !default; // 8px
$spacer-2: $spacer * 3 !default; // 12px
$spacer-3: $spacer * 4 !default; // 16px
$spacer-4: $spacer * 6 !default; // 24px
$spacer-5: $spacer * 8 !default; // 32px
$spacer-6: $spacer * 12 !default; // 48px

// sm: '8px',
// md: '12px',
// lg: '16px',
// xl: '24px',


// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// Size scale
// Used for buttons, inputs, labels, avatars etc.
$size: 16px !default;

$size-0: 0 !default;
$size-1: $size !default; // 16px
$size-2: $size-1 + 4px !default; // 20px
$size-3: $size-2 + 4px !default; // 24px
$size-4: $size-3 + 4px !default; // 28px
$size-5: $size-4 + 4px !default; // 32px
$size-6: $size-5 + 8px !default; // 40px
$size-7: $size-6 + 8px !default; // 48px
$size-8: $size-7 + 16px !default; // 64px

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$shadow-none: 0 0 #0000;
